html {
 overflow-y: none;
}
body{
	margin:0;
	padding:0;
}

.general{
	margin:0;
	padding:0;	
	position: relative;
	width: 100%;
	height:auto;
	float: left;
}
.header{
	background: -moz-linear-gradient(#954646, #732222);
	background: -webkit-linear-gradient(#954646, #732222);
	/*background-color: #732222;*/
	position: relative;
	float: left;
	height: 60px;
	width: 100%;
	margin:0;
	padding-top: 0px;
	padding-bottom: 0px;
}

.usu{
	position:relative;
	height: 100%;
	width: 200px;
	margin-left: 65%;
	background: -moz-linear-gradient(#954646, #732222);
	background: -webkit-linear-gradient(#954646, #732222);
	border-radius: 2px 2px 2px 2px;
	color: white;
}
.usu2{
	color: white;
	position:relative;
	height: 69px;
	width: 200px;
	margin-left: 65%;
	background-color: #732222;
	padding-top: 5px;
	border-radius: 0px 0px 4px 4px;
	z-index: 500;
}


#panel{position:relative;}

/*imagen del perfil*/
.ppic{
	position:relative;
	height: auto;
	width: 100%;
	border: 1px solid #3B240B;
	padding: 0;
}
/*Row de la imagen*/
.filafoto{
	width: 30%;
	
}
/*Row de la tabla del nombre del usuario*/
.pnick{
	font: 18px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
	text-decoration:underline;
	color: white;
	padding: 0;
	width: 70%;
	padding-left: 10%;
}

.elemento{
	color: white;
	margin-left: -15px;
	margin-top: 5px;
	font: 15px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;

}


.elemento:hover {
	background-color: #A95D5D;
}


.menu{
  position: relative;
  float:left;
  width: 250px;
  height: 80%;
  border-top:0px;
  border-right: 2px solid #732222;
}

.main{
	background-color: #FBEFEF;
	position: relative;
	float: left;
	height: auto;
	width: 80%;
	/*margin-left: 20%;*/
}

#videos {
	position:absolute;
	float:left;
	margin: 0px;
	z-index: 0;
	overflow: none;
	
}

#mostrar{
  position: relative;
  float: left;
  width: 100%;
  height: 30%;
  overflow: scroll;
}

#messages {
  position: relative;
  float: left;
  overflow-x: none;
  overflow-y: scroll;
  width: 220px;
  padding-left: 15px;
  padding-right: 15px;
  height: 60%;
}
#chatinput {
	position: absolute;
	bottom:0;
	border-left:1px #F9F9F9 solid;
	height: 60px;
	width: 100%;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #732222;
	border-right: 1px solid #732222;
	border-bottom: 1px solid #732222;
	font: 300 18px/40px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0px;
}

.users_list{
  padding:0;
  margin:0;
}
.users_list li{
  list-style: none;
  height: 30px;
  padding-top:10px;
  border-bottom:1px black solid;
  cursor: pointer;
  padding-left: 15px;
}
.users_list li:hover{
  	background-color: #A95D5D;
  	color: white;
}

.sales_list{
  padding:0;
  margin:0;
}
.sales_list li{
  list-style: none;
  height: 30px;
  border-bottom:1px black solid;
  padding-top:10px;
  padding-left: 15px;
  cursor: pointer;
}
.sales_list li:hover{
	background-color: #A95D5D;
	color: white;
}

.flip {
-webkit-transform: rotateY(180deg);
}

.buttonBox {
  position: relative;
  background-color: #732222;
  float: left;
  width: 100%;
  height: 42px;
  z-index: 1;
  text-align:center;
}
.button{
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    padding: 0px 10px;
    position: relative;
	margin-top: 5px;
	height: 30px;
}

.icon{
	position: absolute;
	width: 25px;
	height: 25px;
}
.users{
	position: relative;
	float: left;
	width: inherit;
	height: 100%;
}
.rooms{
	position: relative;
	float: left;
	width: inherit;
	height: 100%;
}

.nroom{
	height: 100%;
}

#cabecera_sala{
	height: 30px;
	position:relative;
	display:none;
	margin-top: 8;
	color: #732222;
	width: 100%;
	text-align:center;
	padding:0;
	font-size: 20px;
}

.passchange{
	color: white;
	position: absolute;
	background-color: #A95D5D;
	width: 500px;
	height: 350px;
	z-index: 555;
	border-radius: 2px;
	border:2px solid #732222;
	margin: 10% 10% 0;
	font-size: 14px;
	text-align:center;
	box-shadow: 10px 10px 5px #888;

}
.formpasschange{
	margin-top: 20px;
}
.cerrar{
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #732222;
	color: white;
	border:1px solid white;
	float: right;
	position:relative;
	font: 18px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
	margin-right:5px;
	margin-top: 5px;
}


.titulo{
	height: 30px;
	font: 300 18px/40px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
	
	
}
.campo {
	height: 30px;
	width: 100%;
	margin-top: 5px;
	border: 2px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	width: 50%;
}
.campo:hover{
	border: 1px solid #732222;
	height: 30px;
	width: 100%;
	margin-top: 5px;
	border-radius: 4px 4px 4px 4px;
	width: 50%;

}
#aceptar{
	position: relative;
	background: -moz-linear-gradient(#58ACFA, #0080FF);
	background: -webkit-linear-gradient(#58ACFA, #0080FF);
	color: white;
	width: 100px; 
}
#aceptar:hover{
	position:relative;
	background: -moz-linear-gradient(#58ACFA, #0040FF);
	background: -webkit-linear-gradient(#58ACFA, #0040FF);
	color: white;
	width: 100px;
}

#newRoom{
	background: -moz-linear-gradient(#04B431, #088A08);
	background: -webkit-linear-gradient(#04B431, #088A08);
	color: white;
}
#newRoom:hover{
	background: -moz-linear-gradient(#088A08, #0B6121);
	background: -webkit-linear-gradient(#088A08, #0B6121);
}
#ver_salas{
	background: -moz-linear-gradient(#FACC2E, #FE9A2E);
	background: -webkit-linear-gradient(#FACC2E, #FE9A2E);
	color: #3B240B;
}
#ver_salas:hover{
	background: -moz-linear-gradient(#FACC2E, #DF7401);
	background: -webkit-linear-gradient(#FACC2E, #DF7401);
	color: #3B240B;
}
#ver_usuarios{
	background: -moz-linear-gradient(#FACC2E, #FE9A2E);
	background: -webkit-linear-gradient(#FACC2E, #FE9A2E);
	color: #3B240B;
}
#ver_usuarios:hover{
	background: -moz-linear-gradient(#FACC2E, #DF7401);
	background: -webkit-linear-gradient(#FACC2E, #DF7401);
	color: #3B240B;
}
.errores{
	margin-top: 20px;
	text-align:center;
	height: 30px;
	
}

