

html {
 overflow-y: scroll;
}
body{
	margin:0;
	padding:0;
}

.general{
	margin:0;
	padding:0;	
	position: relative;
	width: 100%;
	height:100%;
	float: left;
}

.header{
	background: -moz-linear-gradient(#58ACFA, #0080FF);
	background: -webkit-linear-gradient(#58ACFA, #0080FF);
	position: relative;
	height: 5%;
	margin:0;
	padding-top: 0px;
	padding-bottom: 0px;
}
.usu{
	height: 100%;
	width: 25%;
	margin-left: 50%;
}

.menu{
  position: relative;
  float:left;
  width: 20%;
  height: 95%;
  border-top:0px;
}

.main{
	height: 95%;
	width: 80%;
	margin-left: 20%;
}

#videos {
	margin: 0px;
	float: left;
	z-index: 0;
	overflow: none;
	height: 90%;
	width: 100%;
}

#mostrar{
  position: relative;
  float: left;
  width: 100%;
  height: 30%;
  overflow: scroll;
}
#buttonBox{

	position:relative;
	
	height: 10%;
	background-color: blue;
}
#messages {
  position: relative;
  float: left;
  overflow-y: scroll;
  overflow-x: none;
  background: none repeat scroll 0 0 #F9F9F9;
  width: 100%;
  padding-left: 15px;
  height: 65%;
}
#chatinput {
	position: relative;
	height: 10%;
	width: 100%;
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #CCCCCC;
	font: 300 18px/40px 'light','Helvetica Neue',Arial,Helvetica,sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0px;
}

.users_list{
  padding:0;
  margin:0;
}
.users_list li{
  list-style: none;
  width: 100%;
  height: 30px;
  border-bottom:1px black solid;
  padding-top:10px;
  cursor: pointer;
}
.users_list li:hover{
  background-color: lightblue;
}

.sales_list{
  padding:0;
  margin:0;
}
.sales_list li{
  list-style: none;
  width: 100%;
  height: 30px;
  border-bottom:1px black solid;
  padding-top:10px;
  cursor: pointer;
}
.sales_list li:hover{
  background-color: lightblue;
}

.flip {
-webkit-transform: rotateY(180deg);
}

.buttonBox {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  z-index: 1;
}
.button {
	color: #3B240B;
	background: -moz-linear-gradient(center top , #FFFFFF 0px, #DDDDDD 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(center top , #FFFFFF 0px, #DDDDDD 100%) repeat scroll 0 0 transparent;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    padding: 5px 10px;
    position: relative;
	margin-top: 2px;
	height: 14px;
}

.button:hover {
	color: #3B240B;
	background: -moz-linear-gradient(center top , #DDDDDD 0px, #FFFFFF 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(center top , #DDDDDD 0px, #FFFFFF 100%) repeat scroll 0 0 transparent;
    background-repeat: no-repeat;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    padding: 5px 10px;
    position: relative;
	margin-top: 2px;
	height: 14px;
}
.button:active {
  position:relative;
  top:1px;
}
.icon{
	position: absolute;
	width: 25px;
	height: 25px;
}
.users{
	width: 100%;
}
